#videoplayerWrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color:rgba(18, 17, 36, 0.918);
    display: flex;
    align-items: center;
    justify-content: center;
    #obsessiogram-text{
        padding: 50px;
        color: white;
        font-size: 4em;
        text-align: center;
        display: flex;
    }
    #videoPlayer{
        position: relative;
        background-color: black;
        border: 1px solid white;
        box-shadow: 0px 0px 20px -1px rgb(31, 29, 46);
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        #cvoutput{
            height: 100%;
            width: 100%;
        }
    }
}

#obsessiogram-stats{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    padding: 10px;
    border: 1px solid white;
    color: white;
    border-radius: 2px;
    z-index: 10000
}

[hidden="true"]{
    display: none !important;
}

.exampleWrapper{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10999;
    border-radius:10px;
    overflow: hidden;
    width: 700px;
    height: 390px;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
    pointer-events: none !important;
}